<!--<%#= form_for(@post, html: {multipart: true}) do |f| %>-->
<!--<%#= f.label :image, 'IMAGE' %><br>-->
<!--<%#= f.file_field :image %>-->
<!--<%#= f.hidden_field :image_cache %>-->
<!--<%# end %>-->
<h3>NEW POST</h3>

<%= render 'layouts/edit' %>

<h3>POST EDIT</h3>

<table class="table-striped">
<% @posts.each do |post| %>
<tr>
  <td class="text-center">
     <%= link_to post.title, post %></td>
  <% end %>
</tr>